[Unit]
Description=InfoScreen HTTP server

[Service]
WorkingDirectory=%h/infoscreen
ExecStart=/usr/bin/python3 %h/infoscreen/surface/serve_infoscreen.py
Restart=always
RestartSec=2
StandardOutput=append:%h/infoscreen/logs/http.log
StandardError=append:%h/infoscreen/logs/http.err.log

[Install]
WantedBy=default.target
