[Unit]
Description=Fetch local events for InfoScreen

[Service]
Type=oneshot
WorkingDirectory=%h/infoscreen
ExecStart=/usr/bin/python3 %h/infoscreen/surface/search_local_events.py Punggol Singapore
TimeoutStartSec=7500
